@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Teko:wght@300&display=swap');

body{
	font-family: 'Audiowide', cursive;
	background-color: #002E94;
}


#seleccionar-mascota{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
	color: white;
	font-size: 32px;
	font-family: 'Audiowide', cursive;
}

.subtitulo{
	color: white;
	font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
	display: flex;
	gap: 10px;
}

.tarjeta-de-mokepon{
	width: 180px;
    height: 100px;
    background-color: #083AA9;
    padding: 10px;
    box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	justify-content: center;
    align-items: center;
	color: white;
}

.tarjeta-de-mokepon img{
	width: 80px;
}

#boton-mascota{
	width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
	font-family: 'Teko', sans-serife;
	font-size: 20px;
	margin-top: 30px;
}


input:hover + label{
	background-color: red;
}

#seleccionar-ataque{
	flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
	background-color: #083AA9;
	padding: 10px;
    box-sizing: border-box;
	border-radius: 20px;
	border-color: transparent;
    width: 100px;
	color: white;
	font-family: 'Teko', sans-serife;
	font-size: 20px;
}

#mensajes {
	width: 280px;
    background: #FFE7CC;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
	display: flex;
   align-items: center;
	flex-direction: column;
}

#boton-reiniciar {
	border: none;
	color: #083AA9;
	font-family: 'Teko', sans-serife;
	font-size: 20px;
}

.ataques{
	display: grid;
	grid-template-columns: 100px 100px;
	color: white;
}

#vidas-jugador, #vidas-enemigo{
	font-size: 32px;
	margin-bottom: 0;
}

@media (max-width: 360px){
	.tarjetas{
		flex-direction: column;
	}
	
	.ataques-jugador, .ataques-enemigo{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.tarjetas-ataques{
		flex-direction: column;
	}
}